body {
  padding-top: 10px;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-select > div {
  margin-left: 8px;
}

.select {
  width: 60px;
  height: 25px;
  font-size: 10px;
  border: none;
  outline: none;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile > p {
  margin-left: 7px;
}

.profile-img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.profile-text {
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-size: 15px;
  font-weight: 400;
  color: #262626;
  line-height: 0px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-right > div {
  margin-left: 50px;
}

.cart-button {
  position: absolute;
  border: none;
  outline: none;
  margin-top: 5px;
  background-color: transparent;
}

.cart-img {
  width: 20px;
  height: 20px;
}

.cart-counter {
  width: 7px;
  height: 11.5px;
  color: #fff;
  padding: 3px  5px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #FB7181;
  position: relative;
  left: 19px;
  top: -4px;
}

.profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 140px;
}

.items {
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  line-height: 1px;
}

.price {
  line-height: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-size: 15px;
  opacity: 0.5;
}

.search-img {
  width: 21px;
  height: 21px;
  position: relative;
  top: 6px;
  left: -8px;
}

@media only screen and (max-width: 548px) {
  .select {
    width: 49px;
    height: 25px;
    font-size: 10px;
    border: none;
    outline: none;
  }
  .profile-text {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 15px;
    font-weight: 400;
    color: #262626;
    line-height: 0px;
  }
  .profile-img {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
  .profile-text {
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 13px;
    font-weight: 400;
    color: #262626;
    line-height: 0px;
    width: 59px;
  }
  .search-img {
    width: 14px;
    height: 14px;
    position: relative;
    top: 6px;
    left: -8px;
  }
  .price {
    line-height: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 10px;
    opacity: 0.5;
    margin-top: 14px;
  }
  .items {
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    line-height: 1px;
  }
  .profile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.logo {
  width: 134px;
  height: 50px;
}

.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.ul > li {
  margin-left: 100px;
}

.navbar-list {
  font-size: 24px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-list:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar-link {
  text-decoration: none;
  color: black;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.navbar-link:hover {
  color: #40BFFF;
}

.responsive-button {
  border: none;
  outline: none;
  background-color: none;
  background: transparent;
  display: none;
}

.humburger-img {
  width: 50px;
  height: 40px;
  background-color: #F7f7f7;
}

@media only screen and (max-width: 1108px) {
  .ul > li {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 928px) {
  .ul > li {
    margin-left: 50px;
  }
  .navbar-list {
    font-size: 20px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
    text-transform: uppercase;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@media only screen and (max-width: 798px) {
  .ul > li {
    margin-left: 40px;
  }
  .navbar-list {
    font-size: 17px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
    text-transform: uppercase;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@media only screen and (max-width: 698px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  .ul > li {
    margin-left: 30px;
  }
  .navbar-list {
    font-size: 15px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial;
    text-transform: uppercase;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

@media only screen and (max-width: 608px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  .ul {
    display: none;
    list-style-type: none;
  }
  .responsive-button {
    border: none;
    outline: none;
    background-color: none;
    background: transparent;
    display: block;
  }
  .humburger-img {
    width: 50px;
    height: 40px;
    background-color: #F7f7f7;
  }
}

.wrapper {
  background-image: url(../../img/777.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 260px 150px;
  margin-top: 30px;
}

.main-title {
  color: #f7f7f7;
  font-size: 69px;
  width: 500px;
}

@media only screen and (max-width: 908px) {
  .wrapper {
    background-image: url(../../img/777.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 230px 140px;
  }
  .main-title {
    color: #f7f7f7;
    font-size: 59px;
    width: 500px;
  }
}

@media only screen and (max-width: 638px) {
  .wrapper {
    background-image: url(../../img/777.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 100px;
  }
  .main-title {
    color: #f7f7f7;
    font-size: 39px;
    width: 300px;
  }
}

@media only screen and (max-width: 468px) {
  .wrapper {
    background-image: url(../../img/777.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 60px;
  }
  .main-title {
    color: #f7f7f7;
    font-size: 29px;
    width: 250px;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "card-1 card-2 card-3";
  margin-top: -70px;
  background-color: none;
  border-radius: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 340px;
  height: 360px;
  background-color: #f7f7f7;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0 5px;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
          box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
  padding: 10px;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid #b9babd;
  background-color: #f7f7f7;
}

.card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-1;
  position: relative;
}

.card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card-2;
}

.card-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card-3;
  position: relative;
}

.card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-flex-2 {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.old-price {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 400px;
  line-height: 15px;
  opacity: 0.5px;
  text-decoration: line-through;
  color: #9098b1;
  width: 80px;
}

.disscount {
  color: #fb7181;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  opacity: 0.5px;
  width: 80px;
}

.new-price {
  color: #40bfff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.card-title {
  color: #223263;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 20px;
  opacity: 0.5px;
  width: 190px;
  text-align: left;
}

.card-flex-3 {
  margin-top: -30px;
}

.card-img {
  width: 260px;
  height: 180px;
  background: transparent;
}

.card-img-3 {
  width: 250px;
  height: 160px;
}

.blue-price-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  position: absolute;
  right: 20px;
}

.blue-price-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 230px;
  margin-top: -40px;
}

.blue-price-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1071px) {
  .card {
    width: 320px;
    height: 340px;
    background-color: #f7f7f7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 0 5px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
  }
  .blue-price-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 200px;
    margin-top: -40px;
  }
}

@media only screen and (max-width: 995px) {
  .card {
    width: 280px;
    height: 340px;
    background-color: #f7f7f7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 0 5px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
  }
}

@media only screen and (max-width: 875px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 340px;
    background-color: #f7f7f7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 0 5px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "card-1 card-2 " "card-3 card-3 ";
    margin-top: -30px;
    background-color: #ffffff;
    border-radius: 9px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-3 {
    width: 280px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: card-3;
    position: relative;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 595px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 340px;
    background-color: #f7f7f7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding: 0 5px;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
            box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 12px;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "card-1 " "card-2" "card-3 ";
    background-color: #ffffff;
    border-radius: 9px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: card-2;
    margin-top: 20px;
  }
  .card-3 {
    width: 280px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: card-3;
    position: relative;
    margin-top: 20px;
  }
}

.blue-part {
  background-color: #4ac3ff;
  margin-top: 200px;
  padding: 0px  0 0 30px;
}

.blue-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "written-part img-part";
  grid-gap: 20px;
}

.written-part {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: written-part;
  width: 500px;
  margin-top: 150px;
}

.img-part {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-part;
}

.written-part-title {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #f7f7f7;
  font-size: 45px;
  line-height: 82px;
  font-style: normal;
  width: 590px;
}

.written-part-text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #f7f7f7;
}

.written-part-button {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #f7f7f7;
  width: 130px;
  color: #f7f7f7;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.written-part-button:hover {
  background-color: #cdb79d;
  border-radius: 9px;
  height: 40px;
}

.img-part-img {
  width: 500px;
  height: 700px;
  position: relative;
  top: -140px;
}

@media only screen and (max-width: 1055px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 450px;
  }
}

@media only screen and (max-width: 1009px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 440px;
  }
  .img-part-img {
    width: 450px;
    height: 650px;
    position: relative;
    top: -240px;
  }
}

@media only screen and (max-width: 949px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 400px;
  }
  .img-part-img {
    width: 420px;
    height: 650px;
    position: relative;
    top: -240px;
  }
}

@media only screen and (max-width: 879px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 400px;
  }
  .img-part-img {
    width: 350px;
    height: 550px;
    position: relative;
    top: -180px;
  }
}

@media only screen and (max-width: 809px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 370px;
  }
  .img-part-img {
    width: 320px;
    height: 500px;
    position: relative;
    top: -150px;
  }
}

@media only screen and (max-width: 749px) {
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 350px;
  }
  .img-part-img {
    width: 300px;
    height: 400px;
    position: relative;
    top: -40px;
  }
}

@media only screen and (max-width: 703px) {
  .written-part-title {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #f7f7f7;
    font-size: 40px;
    line-height: 42px;
    font-style: normal;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-part-img {
    width: 300px;
    height: 400px;
    position: relative;
    top: -40px;
  }
  .blue-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "written-part" "img-part";
    grid-gap: 20px;
    text-align: center;
  }
  .written-part-text {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #f7f7f7;
  }
}

.img-part {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-part;
  margin-top: 20px;
}

@media only screen and (max-width: 464px) {
  .written-part-title {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #f7f7f7;
    font-size: 30px;
    line-height: 32px;
    font-style: normal;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .written-part-text {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #f7f7f7;
  }
  .written-part {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: written-part;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-part-img {
    width: 250px;
    height: 300px;
    position: relative;
    top: -40px;
  }
  .blue-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "written-part" "img-part";
    grid-gap: 20px;
    text-align: center;
  }
}

.img-part {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-part;
  margin-top: 20px;
}

.boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "box-1 box-2 box-3";
  text-align: center;
  margin-top: 80px;
}

.box-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box-1;
}

.box-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box-2;
}

.box-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box-3;
}

.box-img {
  width: 100px;
  height: 95px;
}

.box-title {
  font-family: "Helvetica Neue",Helvetica, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 40px;
  color: #22262A;
  margin-top: 30px;
}

.box-text {
  width: 197px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

@media only screen and (max-width: 698px) {
  .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "box-1 box-2 " "box-3 box-3";
    text-align: center;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 498px) {
  .boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "box-1 " "box-2" "box-3 ";
    text-align: center;
    margin-top: 80px;
  }
}

.news-title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

.news-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "news-card-1 news-card-2 news-card-3";
  grid-gap: 0px;
}

.news-card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: news-card-1;
}

.news-card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: news-card-2;
}

.news-card-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: news-card-3;
}

.news-img {
  width: 120px;
  height: 80px;
  margin-top: 50px;
}

.flex-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news-card-date {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #C1C8CE;
}

.news-card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  margin-top: -18px;
  color: #22262A;
  width: 180px;
}

.news-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #22262A;
  width: 170px;
}

@media only screen and (max-width: 908px) {
  .news-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #22262A;
    width: 150px;
    margin-top: -10px;
  }
  .news-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    margin-top: -18px;
    color: #22262A;
    width: 150px;
  }
  .news-img {
    width: 100px;
    height: 80px;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 758px) {
  .news-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "news-card-1 news-card-2" "news-card-3 news-card-3";
    grid-gap: 0px;
  }
  .news-card-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: news-card-3;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .news-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "news-card-1 " "news-card-2" "news-card-3 ";
    grid-gap: 0px;
  }
  .news-card-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: news-card-3;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .news-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "news-card-1 " "news-card-2" "news-card-3 ";
    grid-gap: 0px;
  }
  .news-card-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: news-card-3;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .news-card-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: news-card-2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .news-card-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: news-card-1;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .news-img {
    width: 90px;
    height: 60px;
    margin-top: 90px;
  }
}

.featured-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "product-1 product-2 product-3";
  margin-top: 50px;
}

.product-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: product-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: product-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: product-3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-img {
  width: 142px;
  height: 142px;
}

.product-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #262626;
}

.product-button {
  border: none;
  background: none;
  outline: none;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars > button {
  margin-left: -5px;
}

.flex-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-price > p {
  margin-left: 4px;
}

.product-price {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #FF4858;
}

.product-old-price {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: "Helvetica Neue",Helvetica, Arial;
  color: #C1C8CE;
  text-decoration: line-through;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #BCDDFE;
  border-radius: 6px;
  margin-top: 100px;
}

.search-input {
  border: none;
  padding-left: 20px;
  outline: none;
  width: 500px;
}

.search-button {
  width: 127px;
  height: 62px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #ffffff;
  background-color: #40BFFF;
  border-radius: 6px;
  border: none;
}

@media only screen and (max-width: 848px) {
  .product-img {
    width: 132px;
    height: 132px;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 748px) {
  .product-img {
    width: 142px;
    height: 142px;
  }
  .featured-products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "product-1 product-2" "product-3 product-3";
    margin-top: 50px;
  }
  .product-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: product-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: product-2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: product-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 608px) {
  .product-img {
    width: 152px;
    height: 152px;
    margin-top: 20px;
  }
  .featured-products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "product-1" " product-2" "product-3 ";
    margin-top: 50px;
  }
  .product-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: product-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: product-2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: product-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 2px solid #BCDDFE;
    border-radius: 6px;
    margin-top: 100px;
  }
  .search-button {
    width: 127px;
    height: 62px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #ffffff;
    background-color: #40BFFF;
    border-radius: 6px;
    border: none;
  }
  .search-input {
    border: none;
    padding-left: 20px;
    outline: none;
    width: 300px;
  }
}

@media only screen and (max-width: 408px) {
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 2px solid #BCDDFE;
    border-radius: 6px;
    margin-top: 100px;
  }
  .search-button {
    width: 127px;
    height: 62px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #ffffff;
    background-color: #40BFFF;
    border-radius: 6px;
    border: none;
  }
  .search-input {
    border: none;
    padding-left: 20px;
    outline: none;
    width: 200px;
  }
}

.footer {
  background-color: #BCDDFE;
  padding: 50px 10px;
  margin-top: 40px;
}

.footer-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "footer-card-1 footer-card-2 footer-card-3 ";
  grid-gap: 150px;
}

.footer-card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-card-1;
}

.footer-card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer-card-2;
}

.footer-card-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer-card-3;
}

.footer-text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 220px;
}

.footer-text-2 {
  margin-top: 22px;
}

.footer-title {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #22262A;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-button {
  background: none;
  border: none;
  outline: none;
  margin-top: 20px;
}

.links-button ~ .links-button {
  margin-left: 22px;
}

.footer-cards-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
      grid-template-areas: "link-box-1 link-box-2 link-box-3 link-box-4";
  grid-gap: 140px;
  text-align: left;
  margin-top: 80px;
}

.footer-links-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color: #121313;
}

.footer-ul {
  list-style-type: none;
}

.footer-list {
  margin-left: -40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Helvetica Neue",Helvetica, Arial;
  margin-top: 5px;
}

.footer-list:hover {
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.footer-link {
  color: #262626;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none;
}

.footer-link:hover {
  color: #616365;
  text-decoration: underline;
}

@media only screen and (max-width: 999px) {
  .footer-cards-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "link-box-1 link-box-2 link-box-3 link-box-4";
    grid-gap: 90px;
    text-align: left;
    margin-top: 80px;
  }
  .footer-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "footer-card-1 footer-card-2 footer-card-3 ";
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 739px) {
  .footer-cards-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "link-box-1 link-box-2 " "link-box-3 link-box-4";
    grid-gap: 60px;
    text-align: left;
    margin-top: 80px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "footer-card-1 footer-card-1" " footer-card-2 footer-card-3";
    grid-gap: 20px;
  }
  .footer-card-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer-card-1;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-card-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer-card-2;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-card-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: footer-card-3;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-text-2 {
    margin-top: 22px;
    width: 140px;
  }
}

.news-title {
  margin-top: 80px;
}

.btn {
  border: none;
  background: none;
  outline: none;
  margin-left: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.filter-buttons {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: #33A0FF;
  border-bottom: 3px solid #309fff;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.filter-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 20px;
  text-align: center;
}

.filter-text {
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #223263;
  font-family: "Helvetica Neue",Helvetica, Arial;
}

.star-img {
  width: 14px;
  height: 14px;
  margin-left: 2px;
}

.filter-img {
  width: 169px;
  height: 162px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.filter-prices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.filter-prices > p {
  margin-left: 10px;
}

.filter-price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #40BFFF;
  font-family: "Helvetica Neue",Helvetica, Arial;
}

.filter-old-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #9098B1;
}

.filter-off {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #FB7181;
  font-family: "Helvetica Neue",Helvetica, Arial;
}

.filter-box {
  position: relative;
}

.hover-part {
  width: 150px;
  height: 70px;
  background-color: rgba(240, 230, 230, 0.851);
  padding: 30px 20px;
  position: absolute;
  left: 45px;
  top: 20px;
  display: none;
}

.like-button {
  border-radius: 50%;
  border: none;
  background: none;
  width: 35px;
  height: 35px;
  margin-top: 20px;
}

.like-img {
  width: 25px;
  height: 25px;
}

.filter-cart {
  border-radius: 50%;
  border: none;
  background: none;
  width: 35px;
  height: 35px;
}

.filter-cart-img {
  width: 25px;
  height: 25px;
}

.payment {
  width: 1021px;
  height: 730px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
}

.small-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-1 {
  width: 23px;
  height: 23px;
}

.icon-2 {
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=main.css.map */