.blue-part {
  background-color: #40bfff;
  margin-top: 200px;
  padding: 150px 30px;
}
.blue-box {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "written-part img-part";
  grid-gap: 20px;
  // padding-top: 150px;
}
.written-part {
  grid-area: written-part;
  width: 500px;
}
.img-part {
  grid-area: img-part;
}
.written-part-title {
  font-family: "Helvetica Neue", Helvetica, Arial;
  color: #f7f7f7;
  font-size: 45px;
  line-height: 82px;
  font-style: normal;
  width: 590px;
}
.written-part-text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #f7f7f7;
}
.written-part-button {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #f7f7f7;
  width: 130px;
  color: #f7f7f7;
  transition: all 1s ease;
}
.written-part-button:hover {
  background-color: #cdb79d;
  border-radius: 9px;
  height: 40px;
}

.img-part-img {
  width: 500px;
  height: 700px;
  position: relative;
  top: -240px;
}
@media only screen and (max-width: 1055px) {
  .written-part {
    grid-area: written-part;
    width: 450px;
  }
}
@media only screen and (max-width: 1009px) {
  .written-part {
    grid-area: written-part;
    width: 440px;
  }
  .img-part-img {
    width: 450px;
    height: 650px;
    position: relative;
    top: -240px;
  }
}
@media only screen and (max-width: 949px) {
  .written-part {
    grid-area: written-part;
    width: 400px;
  }
  .img-part-img {
    width: 420px;
    height: 650px;
    position: relative;
    top: -240px;
  }
}
@media only screen and (max-width: 879px) {
  .written-part {
    grid-area: written-part;
    width: 400px;
  }
  .img-part-img {
    width: 350px;
    height: 550px;
    position: relative;
    top: -180px;
  }
}
@media only screen and (max-width: 809px) {
  .written-part {
    grid-area: written-part;
    width: 370px;
  }
  .img-part-img {
    width: 320px;
    height: 500px;
    position: relative;
    top: -150px;
  }
}
@media only screen and (max-width: 749px) {
  .written-part {
    grid-area: written-part;
    width: 350px;
  }
  .img-part-img {
    width: 300px;
    height: 400px;
    position: relative;
    top: -40px;
  }
}
@media only screen and (max-width: 703px) {
  .written-part-title {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #f7f7f7;
    font-size: 40px;
    line-height: 42px;
    font-style: normal;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .written-part {
    grid-area: written-part;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-part-img {
    width: 300px;
    height: 400px;
    position: relative;
    top: -40px;
  }
  .blue-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "written-part" "img-part";
    grid-gap: 20px;
    text-align: center;

    // padding-top: 150px;
  }
  .written-part-text {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #f7f7f7;
  }
  
}
.img-part {
  grid-area: img-part;
  margin-top: 20px;
}
@media only screen and (max-width: 464px) {
  .written-part-title {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #f7f7f7;
    font-size: 30px;
    line-height: 32px;
    font-style: normal;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .written-part-text {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #f7f7f7;
  }
  .written-part {
    grid-area: written-part;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-part-img {
    width: 250px;
    height: 300px;
    position: relative;
    top: -40px;
  }
  .blue-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "written-part" "img-part";
    grid-gap: 20px;
    text-align: center;
  }
}
.img-part {
  grid-area: img-part;
  margin-top: 20px;
}
